
.icon-mouse:before { content: '\e800'; } /* '' */
.icon-right-dir-1:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */