$background-color: #EDF0F3;//Very light grey or slightly dark white
$main-color: #22bf9f;//Aqua
$accent-color: #2c3e50;//Navy
$soft-color: #D2D8D9;//Lighter grey
$light-color: #EFEEEE;//Wannabe white
$dark-color: #2D2E30;//Wannabe black

$side-padding: 30px;

body{
	background-color: $background-color;
	color: $dark-color;
	height: 100%;
	padding: 0;
	margin: 0;
}

header{
	width: 100%;
	background-color: $main-color;
}

h2{
	display: inline;
	margin-left: 10px;
}

h4{
	margin-bottom: 0px;
	font-size: 1.5em;
}

a{
	color: $main-color;
}

#header-title{
	padding: 10px $side-padding 10px $side-padding;
	color: $light-color;
}

#nav-options{
	padding: 5px $side-padding 5px $side-padding;
	border-bottom: 1px $soft-color solid;
}

#list{
	padding-top:15px;
	overflow-y: auto;
	height:520px;
}

#map{
	height:520px;
}

.content{
	padding: 0px $side-padding 15px $side-padding;
}

.rating{
	color: $accent-color;
}