body {
  background-color: #EDF0F3;
  color: #2D2E30;
  height: 100%;
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  background-color: #22bf9f; }

h4 {
  margin-bottom: 0px;
  font-size: 1.5em; }

a {
  color: #22bf9f; }

#header-title {
  padding: 10px 30px 10px 30px;
  color: #E7E7E7; }

#nav-options {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px #D2D8D9 solid; }

#list {
  padding-top: 15px;
  overflow-y: auto;
  height: 520px; }

#map {
  height: 520px; }

.content {
  padding: 0px 30px 15px 30px; }

.rating {
  color: #2c3e50; }
