body {
  background-color: #EDF0F3;
  color: #2D2E30;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

header {
  width: 100%;
  background-color: #22bf9f; }

h2 {
  display: inline;
  margin-left: 10px; }

h4 {
  margin-bottom: 0px;
  font-size: 1.5em; }

a {
  color: #22bf9f; }

#header-title {
  padding: 10px 30px 10px 30px;
  color: #EFEEEE; }

#nav-options {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px #D2D8D9 solid; }

#list {
  overflow-y: auto;
  height: 520px;
  width: calc(40% - 15px);
  display: inline-block; }

#stats {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  margin: 10px;
  background-color: #EFEEEE;
  border: 1px #D2D8D9 solid;
  border-radius: 10px; }
  #stats table, #stats tr, #stats td {
    border: none; }

#map-container {
  height: 520px;
  width: calc(60% - 15px);
  display: inline-block;
  position: relative; }

.content {
  padding: 15px 0 15px 0;
  text-align: center; }

.rating {
  color: #2c3e50; }

.half {
  display: inline-block;
  width: 49.5%; }

.pointer {
  cursor: pointer; }

@media screen and (max-width: 999px) {
  #list, #map-container {
    width: 100%; }
  .ui.menu, body, .ui.button, .ui.modal {
    font-size: 2.5rem; }
  h2 {
    font-size: 4rem; }
  body {
    overflow: auto; } }
