<!DOCTYPE html>
<html ng-app="melp">
<head>
	<meta charset="UTF-8">

	<title>Melp</title>

	<!-- STYLES -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="css/style.css" />

	<!-- SCRIPTS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js?key=AIzaSyBWpc-nLEyl2fkFW51Ey2XVTqUP0IPD5Lw"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyBWpc-nLEyl2fkFW51Ey2XVTqUP0IPD5Lw"></script>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</head>
<body>
	<header><div id="header-title"><h2>Melp</h2></div></header>
	<nav id="nav-options">
		<div class="ui secondary menu">
			<div class="row">
				<div class="ui icon item active"><i class="sidebar icon"></i></div>

				<div class="ui dropdown item" tabindex="0">
					<i class="sort icon"></i>Sort
					<i class="dropdown icon"></i>
					<div class="menu transition hidden" tabindex="-1">
						<div class="item" ng-click="sortBy('name')"><i class="sort numeric descending icon"></i>Rating</div>
						<div class="item" ng-click="sortBy('rating')"><i class="sort alphabet ascending icon"></i>Name</div>
					</div>
				</div>

				<div class="item">
					Search
					<div class="ui action left icon input" style="margin-left:1em">
						<i class="search icon"></i>
						<input type="text" placeholder="Name">
						<button class="ui button">Submit</button>
					</div>
				</div>

				<div class="ui dropdown item" tabindex="0">
					<i class="filter icon"></i>Filter
					<i class="dropdown icon"></i>
					<div class="menu transition hidden" tabindex="-1">
						<div class="item">
							<div class="ui checkbox">
								<input type="checkbox">
								<label>Only near current pin</label>
							</div>
						</div>
						<div class="divider"></div>
						<div class="item">
							Radius 
						</div>
						<div class="item">Rating</div>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<div class="content">
		<div class="ui stackable two column grid">
			<div class="row">
				<div id="list" class="six wide column" ng-controller="RestaurantsController">
					<table class="ui celled table">
						<tr ng-repeat="restaurant in restaurants">
							<td>
								<h4>{{restaurant.name}}</h4>
								<div class="rating">
									<span ng-repeat="rating in range(restaurant.rating)"><i class="star icon"></i></span>
									<small><a ng-href="{{restaurant.contact.site}}">{{restaurant.contact.site}}</a></small>
								</div>
								{{restaurant.address.street}}, {{restaurant.address.city}}, {{restaurant.address.state}}
								<br/>
								<strong>Phone:</strong> {{restaurant.contact.phone}}
								<br/>
								<strong>E-mail:</strong> {{restaurant.contact.email}}
							</td>
						</tr>
					</table>
				</div>

				<div id="map" class="ten wide column">

				</div>
			</div>
		</div>

	</div>

	<footer>
		Holis
	</footer>

	<script>
    	$('.ui.dropdown').dropdown();
	</script>

</body>
</html>