<!DOCTYPE html>
<html ng-app="melp">
<head>
	<meta charset="UTF-8">

	<title>Melp</title>

	<link rel="shortcut icon" type="image/png" href="img/icon.png"/>

	<!-- STYLES -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/range.css" />

	<!-- SCRIPTS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js?key=AIzaSyBWpc-nLEyl2fkFW51Ey2XVTqUP0IPD5Lw"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyBWpc-nLEyl2fkFW51Ey2XVTqUP0IPD5Lw"></script>

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/effects.js"></script>
	<script type="text/javascript" src="js/range.js"></script>

</head>
<body ng-controller="RestaurantsController">

	<header id="header"><div id="header-title">
		<img src="img/restaurant-pin.png"/><h2>Melp</h2>
		<small style="margin-left: 5px;"><strong>Your food, your choice*</strong></small></div>
	</header>

	<nav id="nav-options">
		<div class="ui secondary menu">
			<div class="row">
				<div class="active item" id="showSection"><i class="sidebar icon"></i></div>
				<div class="ui dropdown item" tabindex="0">
					<i class="sort icon"></i>Sort
					<i class="dropdown icon"></i>
					<div class="menu transition hidden" tabindex="-1">
						<div class="item" ng-click="sortBy('-rating')"><i class="sort numeric descending icon"></i>Rating</div>
						<div class="item" ng-click="sortBy('name')"><i class="sort alphabet ascending icon"></i>Name</div>
					</div>
				</div>

				<div class="ui dropdown item" tabindex="0">
					<i class="filter icon"></i>Filter map
					<i class="dropdown icon"></i>
					<div class="menu transition hidden" tabindex="-1">
						<div class="item">
							<div class="ui checkbox">
								<input type="checkbox" id="nearMe">
								<label>Show only in radius</label>
							</div>
						</div>
						<div class="divider"></div>
						<div class="item">Radius: <span id="radius"></span> <div class="ui yellow range" id="radius-range"></div>
					</div>
					<div class="item">Rating from: <span id="rating"></span> <div class="ui yellow range" id="rating-range"></div></div>
					<div class="item">
						<button id="filter-button" class="ui button" style="width: 100%" ng-click="filterIt()">
							Apply
						</button>
					</div>
				</div>
			</div>

			<div class="item">
				Location
				<div class="ui action left icon input" style="margin-left:1em">
					<i class="search icon"></i>
					<input type="text" placeholder="Name" id="place">
					<button class="ui button">Submit</button>
				</div>
			</div>

		</div>
	</div>
</nav>

<div class="content">
	<div id="list" class="six wide column">
		<table class="ui celled table">
			<tr class="pointer" ng-class="{current: selected == $index }" ng-repeat="restaurant in restaurants">
				<td ng-click="selectRestaurant($index)">
					<h4><small><i class="food icon"></i></small>{{restaurant.name}}</h4>
					<div class="rating">
						<span ng-repeat="rating in range(restaurant.rating)"><i class="star icon"></i></span>
						<small><a ng-href="{{restaurant.contact.site}}">{{restaurant.contact.site}}</a></small>
					</div>
					{{restaurant.address.street}}, {{restaurant.address.city}}, {{restaurant.address.state}}
					<br/>
					<strong>Phone:</strong> {{restaurant.contact.phone}}
					<br/>
					<strong>E-mail:</strong> {{restaurant.contact.email}}
				</td>
			</tr>
		</table>
	</div>

	<div id="map-container" class="ten wide column">
		<div id="map"></div>
		<div id="stats">
			<table class="ui table">
				<tr>
					<td>Restaurants: </td>
					<td id="count"></td>
				</tr>
				<tr>
					<td>Average rating: </td>
					<td id="average">{{average}}</td>
				</tr>
				<tr>
					<td>Standard deviation: </td>
					<td id="deviation"></td>
				</tr>
			</table>
		</div>
	</div>

</div>

<!-- MODAL -->
<div class="ui mini modal" id="infoModal">
	<div class="header" id="nameSelected">{{selected.name}}</div>
	<div class="image content">
		<img class="image" src="img/food.jpg" style="width: 100%;" />
	</div>
	<div class="content" style="padding-top: 0">
		<div class="half" style="text-align: left;">
			<div class="rating">
				<span ng-repeat="rating in range(selected.rating)"><i class="star icon"></i></span>{{selected.rating}} stars
			</div>
		</div>
		<div class="half" style="text-align: right;"><a ng-href="{{selected.contact.site}}" id="siteSelected">{{selected.contact.site}}</a></div>
		<p/>
		<div style="text-align: left;">
			{{selected.address.street}}, {{selected.address.city}}, {{selected.address.state}}
			<br/>
			<strong>Phone:</strong> {{selected.contact.phone}}
			<br/>
			<strong>E-mail:</strong> {{selected.contact.email}}
		</div>
		<div style="text-align: right;">
			<p/>
			<div id="share"></div>
		</div>
	</div>
</div>

</body>
</html>